<!-- ヘッダー -->
<div class="header-wrapper">
    <div class="header-logo-container" id="headerLogoButton">
        <img class="header-logo" src="hogehoge.jpg">
    </div>
    <div class="header-navi-container">
        <div class="header-navi-register-box" id="headerNaviRegisterButton">
            <p class="header-navi-register-text">
                登録
            </p>
        </div>
        <div class="header-navi-record-box" id="headerNaviRecordButton">
            <p class="header-navi-record-text">
                記録
            </p>
        </div>
        <div class="header-navi-manage-box" id="headerNaviManageButton">
            <p class="header-navi-manage-text">
                管理
            </p>
        </div>
    </div>
</div>