<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/login.css">
    <title>upDate -addNewUser</title>
</head>

<body>

    <div class="add-new-user-wrapper">
        <div class="add-new-user-logo-container">
            <img class="add-new-user-logo" src="hogehoge.jpg">
            <p class="add-new-user-logo-product-name">
                プロダクト名
            </p>
        </div>
        <div class="add-new-user-form-container">
            <div class="add-new-user-form-box">
                <p class="add-new-user-form-text">
                    新規登録
                </p>
                <input class="add-new-user-form" type="text" name="userID" placeholder="ユーザーID">
            </div>
            <div class="add-new-user-button">
                <p class="add-new-user-button-text">
                    新規登録する
                </p>
            </div>
        </div>
    </div>

    <footer>
        <!-- フッター -->
        <%- include('../components/footer'); %>
    </footer>

</body>

</html>