<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheet/home.css">
    <title>upDate -home</title>
</head>

<body>
    <header>
        <!-- ヘッダー -->
        <%- include('../components/header'); %>
    </header>


    <!-- ページのホーム -->
    <div class="home-wrapper">
        <div class="home-catchcopy-container">
            <p class="home-catchcopy">
                未来への1ページを開きましょう！
            </p>
        </div>

        <div class="home-container">
            <!-- 目標を登録 -->
            <div class="register-box">
                <p class="register-text">
                    まずは目標を登録
                </p>
                <div class="register-button" id="registerButton">
                    <p class="register-button-text">
                        今すぐ入力する
                    </p>
                </div>
            </div>

            <!-- 目標の記録 -->
            <div class="record-box" id="recordButton">
                <p class="record-text">
                    行ったことを記録
                </p>
                <div class="record-button">
                    <p class="record-button-text">
                        目標を記録する
                    </p>
                </div>
            </div>

            <!-- 目標の管理 -->
            <div class="manage-box" id="manageButton">
                <p class="manage-text">
                    今までの軌跡を確認
                </p>
                <div class="manage-button">
                    <p class="manage-button-text">
                        目標を管理する
                    </p>
                </div>
            </div>

        </div>
    </div>


    <footer>
        <!-- フッター -->
        <%- include('../components/footer'); %>
    </footer>
    <script src="/script/home.js"></script>
</body>

</html>