<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/login.css">
    <title>upDate -login</title>
</head>

<body>

    <div class="login-wrapper">
        <div class="login-logo-container">
            <img class="login-logo" src="hogehoge.jpg">
            <p class="login-logo-product-name">
                プロダクト名
            </p>
        </div>
        <div class="login-form-container">
            <div class="login-form-box">
                <p class="login-form-text">
                    ログイン
                </p>
                <input class="login-form" type="text" name="userID" placeholder="ユーザーID">
                <div class="forgot-user-id">
                    <p class="forgot-user-id-text">
                        ユーザーIDをお忘れの方はこちら
                    </p>
                </div>
            </div>
            <div class="login-button">
                <p class="login-button-text">
                    ログイン
                </p>
            </div>
            <div class="new-reistration">
                <p class="new-reistration-text">
                    新規登録はこちら
                </p>
            </div>
        </div>
    </div>

    <footer>
        <!-- フッター -->
        <%- include('../components/footer'); %>
    </footer>

</body>

</html>