<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheet/manage.css">
    <title>upDate -manage</title>
</head>

<body>

    <header>
        <!-- ヘッダー -->
        <%- include('../components/header'); %>
    </header>


    <div class="manage-wrapper">
        <div class="manage-title-container">
            <p class="manage-title">
                目標を管理
            </p>
        </div>
        <select class="select-category-box" name="select-category">
            <option>
                カテゴリーを選択
            </option>
        </select>
        <div class="manage-container">
            <div class="manage-box">
                <p class="manage-box-text">
                    目標１
                </p>
            </div>
            <div class="achievement-container">
                <div class="achievement-degrees-box">
                    <p class="achievement-degrees-text">
                        達成度
                    </p>
                    <progress class="achievement-degrees" id="achievementDegrees" max="100" value="70">
                        達成度
                    </progress>
                </div>
                <div class="record-box">
                    <p class="record-box-text">
                        記録
                    </p>
                    <div class="record-detail-box">
                        <p class="record-text-date">
                            〇月〇日
                        </p>
                        <p class="record-text-done-any">
                            〇〇をした
                        </p>
                        <p class="achievement-degrees">
                            達成度<br>
                            〇〇%
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="switch-menu-container">
            <div class="back-home-button">
                <p class="back-home-button-text">
                    ホームに戻る
                </p>
            </div>
        </div>
    </div>


    <footer>
        <!-- フッター -->
        <%- include('../components/footer'); %>
    </footer>
    <script src="/script/manage.js"></script>
</body>

</html>