<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/register.css">
    <title>upDate -register</title>
</head>

<body>

    <header>
        <!-- ヘッダー -->
        <%- include('../components/header'); %>
    </header>


    <div class="register-wrapper">
        <div class="register-title-container">
            <p class="register-title">
                登録
            </p>
            <p class="register-title-text">
                いい感じの文章いい感じの文章<br>
                いい感じの文章いい感じの文章
            </p>
        </div>
        <div class="register-container">
            <input class="add-target-form" id="addTargetForm" type="text" name="add-target" placeholder="目標を入力">
            <input class="add-category-form" id="addCategoryForm" type="text" name="add-category"
                placeholder="新しいカテゴリーを追加">
            <select class="select-category-box" id="selectCategoryBox" name="select-category">
                <option>カテゴリーを選択</option>
            </select>
        </div>
        <div class="register-button" id="registerButton">
            <p class="register-button-text">
                登録する！
            </p>
            <p class="registered-massage">
                登録しました！
            </p>
        </div>
        <div class="switch-menu-container">
            <div class="back-home-button" id="backHomeButton">
                <p class="back-home-button-text">
                    ホームに戻る
                </p>
            </div>
            <div class="switch-manage-menu-button" id="switchManageMenuButton">
                <p class="switch-manage-menu-button-text">
                    管理画面
                </p>
            </div>
        </div>
    </div>


    <footer>
        <!-- フッター -->
        <%- include('../components/footer'); %>
    </footer>

</body>

</html>