.header-wrapper {
  display: flex;
  width: auto;
  height: 70px;
}

.header-logo-container {
  background-color: #d9d9d9;
  width: 220px;
  height: 70px;
}

.header-navi-container {
  display: flex;
  position: absolute;
  height: 0px;
  right: 20px;
}

.header-navi-register-box {
  padding: 5px 10px;
  text-align: center;
  width: 80px;
  height: 40px;
}

.header-navi-register-box :hover {
  background-color: #eeeeee;
  border-radius: 10px;
  opacity: 0.8;
  transform: translate3d(0, 3px, 0);
  transition-duration: 0.3s;
}

.header-navi-record-box {
  padding: 5px 10px;
  text-align: center;
  width: 80px;
  height: 40px;
}

.header-navi-record-box :hover {
  background-color: #eeeeee;
  border-radius: 10px;
  opacity: 0.8;
  transform: translate3d(0, 3px, 0);
  transition-duration: 0.3s;
}

.header-navi-manage-box {
  padding: 5px 10px;
  text-align: center;
  width: 80px;
  height: 40px;
}

.header-navi-manage-box :hover {
  background-color: #eeeeee;
  border-radius: 10px;
  opacity: 0.8;
  transform: translate3d(0, 3px, 0);
  transition-duration: 0.3s;
}

.register-wrapper {
  background-color: #f3fbff;
  margin: auto;
  position: relative;
  top: -90px;
  width: 100%;
  height: 750px;
}

.register-title-container {
  margin: auto;
  width: 450px;
  height: 300px;
}

.register-title {
  color: #3d92c1;
  font-size: 96px;
  position: relative;
  top: 50px;
  left: -320px;
}

.register-title-text {
  font-size: 32px;
  position: relative;
  top: -140px;
  left: -60px;
}

.register-container {
  display: flex;
  flex-flow: column;
}

.add-target-form {
  font-size: 20px;
  margin: auto;
  position: relative;
  top: -60px;
  width: 488px;
  height: 60px;
}

.add-category-form {
  font-size: 20px;
  margin: auto;
  position: relative;
  top: -40px;
  width: 488px;
  height: 60px;
}

.select-category-box {
  font-size: 20px;
  margin: auto;
  position: relative;
  top: -20px;
  width: 496px;
  height: 60px;
}

.register-button {
  background-color: #98d4f5;
  border-radius: 10px;
  margin: auto;
  position: relative;
  top: -20px;
  width: 260px;
  height: 70px;
}

.register-button-text {
  color: #ffffff;
  font-size: 32px;
  position: relative;
  top: 10px;
  text-align: center;
}

.register-button :hover {
  opacity: 0.8;
  transform: translate3d(0, 3px, 0);
  transition-duration: 0.3s;
}

.registered-massage {
  color: #ee6464;
  text-align: center;
  position: relative;
  top: 10px;
}

.switch-menu-container {
  display: flex;
  margin: auto;
  width: 500px;
}

.back-home-button {
  background-color: #adc7d6;
  border-radius: 10px;
  margin: auto;
  position: relative;
  top: 40px;
  left: 0px;
  width: 200px;
  height: 65px;
}

.back-home-button-text {
  color: #244a53;
  font-size: 24px;
  position: relative;
  top: -10px;
  text-align: center;
}

.back-home-button :hover {
  opacity: 0.8;
  transform: translate3d(0, 3px, 0);
  transition-duration: 0.3s;
}

.switch-manage-menu-button {
  background-color: #ffdcbb;
  border-radius: 10px;
  margin: auto;
  position: relative;
  top: 40px;
  left: 0px;
  width: 200px;
  height: 65px;
}

.switch-manage-menu-button-text {
  color: #744d29;
  font-size: 24px;
  position: relative;
  top: -10px;
  text-align: center;
}

.switch-manage-menu-button :hover {
  opacity: 0.8;
  transform: translate3d(0, 3px, 0);
  transition-duration: 0.3s;
}

.footer-wrapper {
  display: flex;
}

.footer-container {
  background-color: #495971;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 99%;
  height: 102px;
}
