@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');


.add-new-user-wrapper {
    background-color: #f5f5f5;
    width: 100%;
    height: 920px;
}

.add-new-user-logo-container {
    background-color: #ffffff;
    margin: auto;
    position: relative;
    top: 100px;
    text-align: center;
    width: 460px;
    height: 158px;
}

.add-new-user-logo {
    width: 30%;
    margin-top: 10px;
}

.add-new-user-form-container {
    background-color: rgba(255, 255, 255, 0.5);
    margin: auto;
    text-align: center;
    position: relative;
    top: 150px;
    width: 350px;
    height: 316px;
}

.add-new-user-form-box {
    background-color: #ffffff;
    margin: auto;
    position: relative;
    top: 30px;
    width: 264px;
    height: 170px;
}

.add-new-user-form {
    position: relative;
    top: -20px;
    width: 208px;
    height: 35px;
}

.add-new-user-form-text {
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    position: relative;
    top: 10px;
}

.forgot-user-id-text {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    position: relative;
    top: -10px;
}

.add-new-user-button {
    background-color: #81d1eb;
    border-radius: 10px;
    margin: auto;
    position: relative;
    top: 20px;
    width: 270px;
    height: 38px;
}

.add-new-user-button-text {
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    font-size: 24px;
    position: relative;
    top: 2px;
}

.new-reistration-text {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    position: relative;
    top: 30px;
}

.footer-wrapper {
    display: flex;
}

.footer-container {
    background-color: #495971;
    color: #ffffff;
    margin-top: -102px;
    text-align: center;
    width: 100%;
    height: 102px;
}