@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.header-wrapper {
  display: flex;
  width: auto;
  height: 70px;
}

.header-logo-container {
  width: 220px;
  height: 70px;
}

.header-logo {
  width: 30%;
  margin-left: 70px;
}

.header-navi-container {
  display: flex;
  position: absolute;
  height: 0px;
  right: 20px;
}

.header-navi-register-box {
  padding: 5px 10px;
  text-align: center;
  width: 80px;
  height: 40px;
}

.header-navi-register-box :hover {
  background-color: #eeeeee;
  border-radius: 10px;
  opacity: 0.8;
  transform: translate3d(0, 3px, 0);
  transition-duration: 0.3s;
}

.header-navi-record-box {
  padding: 5px 10px;
  text-align: center;
  width: 80px;
  height: 40px;
}

.header-navi-record-box :hover {
  background-color: #eeeeee;
  border-radius: 10px;
  opacity: 0.8;
  transform: translate3d(0, 3px, 0);
  transition-duration: 0.3s;
}

.header-navi-manage-box {
  padding: 5px 10px;
  text-align: center;
  width: 80px;
  height: 40px;
}

.header-navi-manage-box :hover {
  background-color: #eeeeee;
  border-radius: 10px;
  opacity: 0.8;
  transform: translate3d(0, 3px, 0);
  transition-duration: 0.3s;
}

.home-wrapper {
  background-color: #f3fbff;
  margin: auto;
  position: relative;
  top: -50px;
  width: 100%;
  height: 800px;
}

.home-catchcopy-container {
  background: linear-gradient(transparent 50%, #f5d0a5 50%);
  font-size: 50px;
  left: 50%;
  margin-right: -50%;
  text-align: centerS;
  white-space: nowrap;
  position: relative;
  transform: translate(-50%, -25%);
  top: 50px;
  width: 780px;
  height: 60px;
}

.home-container {
  font-family: 'Inter', sans-serif;
  display: flex;
  font-size: 40px;
  margin: 0 auto;
  position: relative;
  top: 70px;
  width: 1400px;
}

.register-box {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: -10px 0px #8dcedc;
  margin: auto;
  position: relative;
  top: 20px;
  text-align: center;
  width: 433px;
  height: 531px;
}

.register-button {
  font-family: 'Inter', sans-serif;
  border: 5px solid;
  border-radius: 10px;
  color: #8dcedc;
  font-size: 32px;
  margin: 65px;
  width: 302px;
  height: 115px;
  margin-top: 250px;
}

.register-button:hover {
  box-shadow: none;
  opacity: 0.8;
  transform: translate3d(0, 5px, 0);
  transition-duration: 0.3s;
}

.register-button-text {
  color: #7098a0;
}

.record-box {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: -10px 0px #c0d4ed;
  margin: auto;
  position: relative;
  top: 20px;
  text-align: center;
  width: 433px;
  height: 531px;
}

.record-button {
  font-family: 'Inter', sans-serif;
  border: 5px solid;
  border-radius: 10px;
  color: #c0d4ed;
  font-size: 32px;
  margin: 65px;
  width: 302px;
  height: 115px;
  margin-top: 250px;
}

.record-button:hover {
  box-shadow: none;
  opacity: 0.8;
  transform: translate3d(0, 5px, 0);
  transition-duration: 0.3s;
}

.record-button-text {
  color: #7997bd;
}

.manage-box {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: -10px 0px #5b6a8f;
  margin: auto;
  position: relative;
  top: 20px;
  text-align: center;
  width: 433px;
  height: 531px;
}

.manage-button {
  font-family: 'Inter', sans-serif;
  border: 5px solid;
  border-radius: 10px;
  color: #8494cd;
  font-size: 32px;
  margin: 65px;
  width: 302px;
  height: 115px;
  margin-top: 250px;
}

.manage-button:hover {
  box-shadow: none;
  opacity: 0.8;
  transform: translate3d(0, 5px, 0);
  transition-duration: 0.3s;
}

.manage-button-text {
  color: #5b6a8f;
}

.footer-wrapper {
  display: flex;
}

.footer-container {
  background-color: #495971;
  color: #ffffff;
  position: absolute;
  margin-top: -102px;
  text-align: center;
  width: 99%;
  height: 102px;
}