@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.header-wrapper {
  display: flex;
  width: auto;
  height: 70px;
}

.header-logo-container {
  background-color: #d9d9d9;
  width: 220px;
  height: 70px;
}

.header-logo {
  width: 30%;
  margin-left: 70px;
}

.header-navi-container {
  display: flex;
  position: absolute;
  height: 0px;
  right: 20px;
}

.header-navi-register-box {
  padding: 5px 10px;
  text-align: center;
  width: 80px;
  height: 40px;
}

.header-navi-register-box :hover {
  background-color: #eeeeee;
  border-radius: 10px;
  opacity: 0.8;
  transform: translate3d(0, 3px, 0);
  transition-duration: 0.3s;
}

.header-navi-record-box {
  padding: 5px 10px;
  text-align: center;
  width: 80px;
  height: 40px;
}

.header-navi-record-box :hover {
  background-color: #eeeeee;
  border-radius: 10px;
  opacity: 0.8;
  transform: translate3d(0, 3px, 0);
  transition-duration: 0.3s;
}

.header-navi-manage-box {
  padding: 5px 10px;
  text-align: center;
  width: 80px;
  height: 40px;
}

.header-navi-manage-box :hover {
  background-color: #eeeeee;
  border-radius: 10px;
  opacity: 0.8;
  transform: translate3d(0, 3px, 0);
  transition-duration: 0.3s;
}

.record-wrapper {
  background-color: #f3fbff;
  margin: auto;
  position: relative;
  top: -90px;
  width: 100%;
  height: 750px;
}

.record-container {
  display: flex;
  flex-direction: column;
}

.record-title-container {
  margin: auto;
  width: 450px;
  height: 300px;
}

.record-title {
  font-family: 'Inter', sans-serif;
  color: #3d92c1;
  font-size: 96px;
  position: relative;
  top: 10px;
  left: -200px;
}

.record-title-text {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  white-space: nowrap;
  position: relative;
  top: -90px;
  left: -100px;
}

.record-target-box {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  margin: auto;
  position: relative;
  top: -30px;
  left: 0px;
  width: 353px;
  height: 60px;
}

.done-any-form {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  margin: auto;
  position: relative;
  top: -10px;
  left: 0px;
  width: 345px;
  height: 60px;
}

.achievement-degrees-box {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  margin: auto;
  position: relative;
  top: 10px;
  left: 0px;
  width: 353px;
  height: 60px;
}

.record-button {
  background-color: #98d4f5;
  border-radius: 10px;
  margin: auto;
  position: relative;
  top: 40px;
  left: 0px;
  width: 260px;
  height: 70px;
}

.record-button-text {
  font-family: 'Inter', sans-serif;
  color: #ffffff;
  font-size: 32px;
  position: relative;
  top: -20px;
  text-align: center;
}

.record-button :hover {
  opacity: 0.8;
  transform: translate3d(0, 3px, 0);
  transition-duration: 0.3s;
}

.switch-menu-container {
  display: flex;
  margin: auto;
  position: relative;
  left: 0px;
  width: 500px;
}

.back-home-button {
  background-color: #adc7d6;
  border-radius: 10px;
  margin: auto;
  position: relative;
  top: 70px;
  left: 0px;
  width: 200px;
  height: 65px;
}

.back-home-button-text {
  font-family: 'Inter', sans-serif;
  color: #244a53;
  font-size: 24px;
  position: relative;
  top: -10px;
  text-align: center;
}

.back-home-button :hover {
  opacity: 0.8;
  transform: translate3d(0, 3px, 0);
  transition-duration: 0.3s;
}

.switch-manage-menu-button {
  background-color: #ffdcbb;
  border-radius: 10px;
  margin: auto;
  position: relative;
  top: 70px;
  left: 0px;
  width: 200px;
  height: 65px;
}

.switch-manage-menu-button-text {
  font-family: 'Inter', sans-serif;
  color: #744d29;
  font-size: 24px;
  position: relative;
  top: -10px;
  text-align: center;
}

.switch-manage-menu-button :hover {
  opacity: 0.8;
  transform: translate3d(0, 3px, 0);
  transition-duration: 0.3s;
}

.footer-wrapper {
  margin-top: auto;
  display: flex;
}

.footer-container {
  background-color: #495971;
  color: #ffffff;
  margin-top: -102px;
  text-align: center;
  width: 100%;
  height: 102px;
}