<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/home.css">
    <title>upDate -home</title>
</head>

<body>
    <header>
        <!-- ヘッダー -->
        <%- include('../components/header'); %>
    </header>


    <!-- ページのホーム -->
    <div class="home-wrapper">
        <div class="home-catchcopy-container">
            <p class="home-catchcopy">
                なんかいい感じの言葉
            </p>
        </div>

        <div class="home-container">
            <!-- 目標を登録 -->
            <div class="register-box">
                <p class="register-text">
                    なんかいい感じの言葉（登録）
                </p>
                <div class="register-button">
                    <p class="register-button-text">
                        今すぐ入力する
                    </p>
                </div>
            </div>

            <!-- 目標の記録 -->
            <div class="record-box">
                <p class="record-text">
                    なんかいい感じの言葉（記録）
                </p>
                <div class="record-button">
                    <p class="record-button-text">
                        目標を記録する
                    </p>
                </div>
            </div>

            <!-- 目標の管理 -->
            <div class="manage-box">
                <p class="manage-text">
                    なんかいい感じの言葉（管理）
                </p>
                <div class="manage-button">
                    <p class="manage-button-text">
                        目標を管理する
                    </p>
                </div>
            </div>

        </div>
    </div>


    <footer>
        <!-- フッター -->
        <%- include('../components/footer'); %>
    </footer>
</body>

</html>